@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&family=PT+Serif:wght@400;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

input[type="submit"] {
  background: #71a970;
  border-radius: 5px;
  padding: 5px 15px;
  border: 2px solid #71a970;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #f8d5b8;
  border: 2px solid #f8d5b8;
}

img {
  width: 600px;
  position: absolute;
  padding: 10px;
  left: 100px;
}

#pos1 {
  position: absolute;
  top: 620px;
  left: 355px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos2 {
  position: absolute;
  top: 780px;
  left: 355px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos3 {
  position: absolute;
  top: 660px;
  left: 500px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos4 {
  position: absolute;
  top: 550px;
  left: 430px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos5 {
  position: absolute;
  top: 660px;
  left: 230px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos6 {
  position: absolute;
  top: 550px;
  left: 245px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos7 {
  position: absolute;
  top: 450px;
  left: 150px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos8 {
  position: absolute;
  top: 400px;
  left: 355px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#pos9 {
  position: absolute;
  top: 450px;
  left: 550px;
  width: 100px;
  height: 50px;
  background-color: white;
  color: green;
  border: 3px solid black;
}

#status {
  text-align: center;
}

#myForms {
  text-align: center;
  margin: 0 auto;
}

#myForms h1 {
  font-size: 2em;
}

#content {
  margin-top: 100px;
  font-size: 1em;
  text-align: center;
}
